.colors-container {
    display: flex;
    border-radius: 1vw;
    overflow: hidden;
    height: 120px;
  }
  
  .color-panel {
    flex-grow: 1;
  }
  
  .hovered-color-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .hex-number {
    margin: 0; 
  }
  
  button{
    display: inline-block;
    font-size: 1.2vw;
    padding: 0.4vw 0.5vw;
    border-radius: 0.5vw;
    border: .1vw solid var(--black);
  }

  button:hover{
    color: var(--white);
    border: .1vw solid var(--black);
    background-color: var(--black);
    cursor: pointer;
  }
  
  .color-palette-picker-container{
    display: grid;
    gap: 1.2vw;
  }

.pp-button-container{
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 1000px){

    .colors-container {
        border-radius: 10px;
        height: 120px;
      }
      
      button{
        font-size: 12px;
        padding: 4px 5px;
        border-radius: 5px;
        border: 1px solid var(--black);
      }
    
      button:hover{
        border: 1px solid var(--black);
      }
      
      .color-palette-picker-container{
        gap: 12px;
      }
  }
