.contact-detail-container{
    margin: 1.5vw 0;
    display: flex;
    flex-direction: column;
    gap: .6vw;
}

@media screen and (max-width: 1000px){

    .contact-detail-container{
        margin: 15px 0;
        gap: 6px;
    }
    

  }
  