
*,
*::before,
*::after {
box-sizing: border-box;
}

:root {
--black: #000000;
--off-black: #171923;
--silver: #B9B5AB;
--platinum: #E4E2DD;
--smoke: #F2F2F2;
--white: #FFFFFF;
--green: #1AFF00;
}

html {
  scroll-behavior: smooth;
}

button{
  all:unset;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--smoke);
  color: var(--black);
}

html{
  margin: 0;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

body{
  font-size: 1.2vw;
}

section{
  padding: 1.5vw 2vw;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.link{
  display: inline-block;
  padding-bottom: .4vw;
  position: relative;
}
.link::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: .08vw;
  background-color: var(--black);
  transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.link:hover::before{
  width: 100%;
  left: 0;
  right: auto;
}

.active{
  color: inherit;
}

.bold{
  font-weight: 600;
}

h2{
  font-size: 5vw;
  font-weight: 600;
  line-height: 1.3;
}

h3{
  font-size: 1.9vw;
  font-weight: 500;
}

.smaller{
  font-size: 1.2vw;
  line-height: 1.3;
}

.down{
  padding-top: .4vw;
}

@media screen and (max-width: 1000px){

  body{
    font-size: 12px;
  }

  .down{
    padding-top: 4px;
  }
  
  section{
    padding: 15px 20px;
  }
  
  .link{
    padding-bottom: 4px;
  }
  .link::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: .8px;
    background-color: var(--black);
    transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }
  .link:hover::before{
    width: 100%;
    left: 0;
    right: auto;
  }
  
  h2{
    font-size: 50px;
  }
  
  h3{
    font-size: 19px;
  }
  
  .smaller{
    font-size: 12px;
  }
}

@media screen and (max-width: 600px){
  
  h2{
    font-size: 36px;
  }

  section{
    padding: 15px 15px;
  }
  
}


