nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 2vw;
    position: sticky;
    top: 0;
    background-color: rgba(242, 242, 242, 0.5);
    z-index: 10;
    border-bottom: solid .1vw transparent;
    transition: padding 0.6s ease, border-bottom 0.4s ease, box-shadow 0.2s ease, -webkit-backdrop-filter 0.2s ease, backdrop-filter 0.2s ease;
}

.nav-overlay{
    overflow: hidden;
}
.scrolled{
    border-bottom: solid .1vw var(--black);
    box-shadow: 0 0.05vw 0.5vw rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0.5vw 2vw;
}

.left-right{
    display: flex;
    gap: 1vw;
}

.navLink{
    position: relative;
    padding: 0.6vw 0.7vw;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease, color .1s ease;
}
    .navLink:hover{
        background: var(--black);
        color: var(--white);
    }

    @media screen and (max-width: 1000px){
        nav{
            padding: 15px 20px;
            border-bottom: solid 1px transparent;
        }
        .scrolled{
            border-bottom: solid 1px var(--black);
        }
        
        .left-right{
            gap: 10px;
        }
        
        .navLink{
            padding: 6px 7px;
            border-radius: 5px;
        }
      }

      @media screen and (max-width: 600px){
  
        nav{
            padding: 15px 15px;
        }
      }
      
      